<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webquotesappv2-1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>webquotesappv2-1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebQuotesAppv2-1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebQuotesAppv2-1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:czual4lmm5.database.windows.net,1433;Initial Catalog=WebQuotesAppv2-1_db;User ID=WebEngProjects@czual4lmm5;Password=FDaBAse20!" Name="Data Source=tcp:czual4lmm5.database.windows.net,1433;Initial Catalog=WebQuotesAppv2-1_db;User Id=WebEngProjects@czual4lmm5;Password=FDaBAse20!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="QuotationAppv1.Models.ApplicationDbContext, QuotationAppv1" MigrationConfiguration="QuotationAppv1.Migrations.Configuration, QuotationAppv1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:czual4lmm5.database.windows.net,1433;Initial Catalog=WebQuotesAppv2-1_db;User Id=WebEngProjects@czual4lmm5;Password=FDaBAse20!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>